section.premises {
  margin: 0.5em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.premise_divider {
  margin: 1em auto;
  height: 1px;
  width: calc(100% - 5em);
  background: #f74b59;
  max-width: 780px;
}

@media only screen and (min-width: 520px) {
  .premises {
    margin: 1fr auto;
  }
}
